<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: {{backgroundColor}};">
  <tr>
    <td style="padding: 40px 30px; text-align: {{textAlign}};">
      <h1 style="margin: 0 0 10px 0; color: {{textColor}}; font-size: 32px; font-weight: bold; line-height: 1.2;">
        {{heading}}
      </h1>
      {{#if subheading}}
        <p style="margin: 0; color: {{textColor}}; font-size: 18px; line-height: 1.5;">
          {{subheading}}
        </p>
      {{/if}}
    </td>
  </tr>
</table>
